html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Start variables */
/* End variables */
html {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.full-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ecf2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

@media screen and (max-width: 1000px) {
  .full-wrap {
    padding: 50px 0;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "top-wide top-wide top-thin tall" "bot-thin bot-wide bot-wide tall";
  gap: 30px;
  height: 572px;
  width: 1110px;
}

@media screen and (max-width: 1000px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 320px;
    height: 100%;
  }
}

.container .card {
  border-radius: 8px;
  color: white;
  padding: 24px 30px;
  -webkit-box-shadow: 25px 25px 50px 0px rgba(72, 85, 106, 0.2);
  box-shadow: 25px 25px 50px 0px rgba(72, 85, 106, 0.2);
}

.container .card.text-dark {
  color: #19212e;
}

.container .card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .card__top__avatar {
  margin-right: 16px;
  width: 30px;
}

.container .card__top__avatar img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.container .card__top__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.9rem;
  font-weight: 500;
}

.container .card__top__user--verified {
  font-size: 0.8rem;
  opacity: 0.5;
}

.container .card__body {
  margin-top: 16px;
}

.container .card__body--feature {
  font-size: 1.45rem;
  letter-spacing: 0.3px;
  line-height: 1.75rem;
  margin-bottom: 16px;
  width: 96%;
}

@media screen and (max-width: 1000px) {
  .container .card__body--feature {
    width: 97.6%;
  }
}

.container .card__body--quote {
  line-height: 1.35rem;
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {
  .container .card__body--quote {
    font-size: 0.95rem;
  }
}

.container .card.top-wide {
  background: url("/images/bg-pattern-quotation.svg") no-repeat, #7541c8;
  background-position: 80% 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top-wide;
}

.container .card.top-wide .card__top__avatar img {
  border: 2px solid #ae90df;
}

@media screen and (max-width: 1000px) {
  .container .card.top-wide {
    background-position: 90% 0;
  }
}

.container .card.top-thin {
  background: #48556a;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: top-thin;
}

.container .card.bot-wide {
  background: #19212e;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bot-wide;
}

.container .card.bot-wide .card__top__avatar img {
  border: 2px solid #7541c8;
}

.container .card.bot-thin {
  background: white;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: bot-thin;
}

.container .card.tall {
  background: white;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: tall;
}
/*# sourceMappingURL=main.css.map */